################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ayihuang.github.io/FileContentIndex/8025c25e-aa65-4296-b89e-da1c24373400.vsidx
/.vs
