body {
    margin: 0;
    background: rgb(112,45,189);
    background: linear-gradient(90deg, rgba(112,45,189,1) 0%, rgba(75,28,186,1) 52%, rgba(23,13,112,1) 100%);
    font-family: Verdana, sans-serif;
}
