body {
    margin: 10px;
    background: rgb(112,45,189);
    background: linear-gradient(90deg, rgba(54,74,188,1) 0%, rgba(75,28,186,1) 52%, rgba(74,0,115,1) 100%);
    color: white;
    font-family: Verdana, sans-serif;
}
    /* Default link color */
a{
    color: white; /* Change to your desired color */
    text-decoration: none;
}

/* Visited link color */
a:visited {
    color: navajowhite; /* Change to your desired color */
}
img {
    margin: 0px;
}

.nav li {
    display: inline-block;
    font-size: 14px;
    margin-left: 180px; /* Adjust spacing as needed */
}

#header {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    padding: 0px;
    color: white;
    font-family: Verdana, sans-serif;
}
