#headingImage{
    display: block;
    margin: auto;
    padding-bottom: 40px;
}

.img-container{
    display: flex;
    background-image: url('placeHolderCat.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps the background image fixed */
    position: relative;
    height: 40vh;
}
.img-container::before {
    content: "";
    position:absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.4);
    z-index:1;
}
.personSection {
    display: flex;
    flex: 1;
    background: #f3e8fa;
    color: black;
    border-radius: 25px;
    max-width: 940px;
}

.blockBio{
    display:block;
    padding: 0px 20px 0px 50px;    
}

.block{
    display: block;
}

.bios {
    display: flex;
    flex-wrap: wrap;
}

.linkedInLogo{
    padding: 15px 0px 0px 20px;
}

.paddingContainer{
    padding-left:30%;
}
#headshotAH {
    border-radius: 25px;
}
#headshotNM {
    border-radius: 25px;
}
.sport {
    transform: translate(30%,20px);
    opacity: 1;
    animation: sport 2s 1;
    border-radius: 25px;
}

.sport {
    transform: translate(30%, 20px);
    opacity: 1;
    animation: sport 2s 1;
}

.working {
    transform: translate(30%,-40px);
    opacity: 1;
    animation: working 2s 1;
    border-radius: 25px;
}

@keyframes sport {
    0% {
        opacity: 0;
        transform: translate(30%);
    }

    100% {
        opacity: 1;
        transform: translate(30%, 20px);
    }
}

    @keyframes working {
        0%{
        opacity:0;
        transform:translate(30%);
    }
    100%{
        opacity: 1;
        transform: translate(30%, -40px);
    }
}

